* {
  background-color: bisque;
}
body, html{
  margin: 0;
  padding: 0;
}  
.header {
  background-color: white;
  width: 1440px;
  height: 100px;
  margin: 0 auto;
  padding: 0px;

  // &header_a {
  //     background-color: white;
  // }
}
