- comments.each do |comment|
  - unless comment.id.nil?
    %p= link_to "#{comment.user.name}さん"
    %p
      コメント：#{comment.comment_content}
    - if comment.user == current_user
      %p= link_to '削除', article_comment_path(comment.article_id, comment.id), method: :delete, remote: true