.wrapper
  = render 'shared/header'
  .main
    .hoge
    .hoge2
      .item-title
        Articles
      .item-list-block
        - @articles.each do |article|
          .item-list.clearfix
            %a.item-list-image{ href: ''}
              %img{ alt: '', src: '', width: 'auto', height: 'auto'}
            .item-list-big
              .item-list-content
                = article.title
              .item-list-under
                %span.user1
                  by
                %a.user2
                  yooooshkiki
                .time
                  2019/8/4
                .good-mark
                  %a.comment
                    .action
                      コ
                  %a.good
                    .action
                      い
                  %a.stock
                    .action
                      ス
    .hoge3
  = render 'shared/footer'