.wrapper
  .header
    .header-light
      .appname 
        Wisdom Post
      .search
        %input.search-inner
    .header-right
      .stock
        = link_to 'ストック一覧', 'https://qiita.com/'
      .post
        投稿する
      .mypage
        マイページへ
  .main
    .hoge
    .hoge2
      .item-title
      .item-list
        eeeee
    .hoge3