= render 'shared/header'
.container
  .comment-page-reputation
    .comment-good       
      イイね
    .comment-stock
      ストック
    .comment-sns
      Twitter
  .comment-page-info
    .commnet-page-title
      aaaaaaa
    .comment-page-user
      yoooshiki
    .comment-page-editbtn
      Edit
    .comment-page-delete
      Delete
  .comment-page-content
    ddddd
  .comment-page-form-block
    %input.comment-page-form
    %input.comment-page-form-btn{ type: 'submit', name: '', value: 'Comment'}
  = render 'shared/footer'