  .header {
  background-color: #55c500;
  height: 60px;
  z-index: 10;
  border-bottom: 2px solid #CCC;
  padding: 20px 50px 20px;
  display: flex;
    .header-light {
      width: 700px;
      height: 100%;
      margin: 0 40px;
      box-sizing: border-box;
      display: flex; 
      .appname {
        width: 150px;
        height: 100%;
        box-sizing: border-box;
        margin: 0 20px;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 30px;
        font-family: impact;
      }
      .search {
        width: 200px;
        height: 50px;
        .search-inner {
          width: 100%;
          height: 30px;
          box-sizing: border-box;
          border: none;
          margin: 15px 0 10px;
          border-radius: 0.25rem;
        }
      
      }  
    }
    .header-right {
      width: 500px;
      display: flex;
      justify-content: flex-end;
      font-family: impact;
      font-size: 25px;
      .stock {
        width: 30%;
        padding: 10px;
        text-align: center;
        line-height: 40px;
      }
      .post {
        width: 30%;
        padding: 10px;
        text-align: center;
        line-height: 40px;
      }
      .mypage {
        width: 30%;
        padding: 10px;
        text-align: center;
        line-height: 40px;
      }
    }
  }  