  .header {
    background-color: #55c500;
    height: 60px;
    z-index: 10;
    border-bottom: 2px solid #CCC;
    padding: 20px 50px 20px;
    display: flex;
    .header-light {
      width: 700px;
      height: 100%;
      margin: 0 40px;
      box-sizing: border-box;
      display: flex; 
      text-decoration: none;
      .appname {
        width: 150px;
        height: 100%;
        box-sizing: border-box;
        margin: 0 20px;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 30px;
        font-family: impact;
        opacity: 0.4;
      }
      .search {
        width: 200px;
        height: 50px;
        display: flex;  
        line-height: 60px;
      }  
    }
    .header-right {
      width: 500px;
      display: flex;
      justify-content: flex-end;
      font-family: impact;
      font-size: 25px;
      opacity: 0.3;
      .header-right-wrapper {
        display: flex;
        line-height: 60px;
        .stock {
          width: 30%;
          padding: 10px;
          text-align: center;
          line-height: 40px;
          text-decoration: none;
        }
        .post {
          width: 30%;
          padding: 10px;
          text-align: center;
          line-height: 40px;
        }
        .mypage {
          width: 30%;
          padding: 10px;
          text-align: center;
          line-height: 40px;
        }
      }    
    }
  }  

.btn-in {
  margin-right: 10px;
  vertical-align: middle;
  text-decoration-color: none;
}

.btn-in a:link {
  color: black;
}

.btn-in a:visited {
  color:  black;
}