.sign-up-block {
  margin:100px 100px 0 100px;
  font-family: impact;
  opacity: 0.4;
}
.sign-up {
  margin-left: 400px;
  font-size: 40px;
}
.field {
  margin-bottom: 20px;
  margin-left: 400px;
  font-size: 30px;
}

input {
  border-radius: 0.25rem;
}